<nav th:fragment="navbar" class="navbar navbar-expand-md navbar-light bg-light sticky-top"
     xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}"><img class="brand-logo" th:src="@{/img/brand-logo.png}" width="45"/></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-md-0 w-100">
                <!--DROPDOWN PRDUCTO -->
                <li class="nav-item dropdown text-white">
                    <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                       href="#"
                       id="dropdown-libros" role="button">
                        Productos
                    </a>
                    <ul aria-labelledby="dropdown-libros" class="dropdown-menu dropdown-menu-dark">
                        <li>
                            <a class="dropdown-item text-white" th:href="@{/producto}">Mostrar todos</a>
                        </li>
                        <li>
                            <a class="dropdown-item text-white" th:href="@{/producto/crear}">Crear producto</a>
                        </li>
                    </ul>
                </li>
                
                <!--DROPDOWN USUARIO -->
                <li sec:authorize="hasRole('ADMIN')" class="nav-item dropdown text-white">
                    <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                       href="#"
                       id="dropdown-usuarios" role="button">
                        Usuarios
                    </a>
                    <ul aria-labelledby="dropdown-usuarios" class="dropdown-menu dropdown-menu-dark">
                        <li>
                            <a class="dropdown-item text-white" th:href="@{/usuario}">Mostrar todos</a>
                        </li>
                        <li>
                            <a class="dropdown-item text-white" th:href="@{/usuario/crear}">Crear usuario</a>
                        </li>
                    </ul>
                </li>
                <!--ABOUT -->
                <li class="nav-item text-white">
                    <a aria-expanded="false" class="nav-link" th:href="@{/about/}"
                       id="acerca-de" role="button">
                        Acerca de
                    </a>
                </li>
            </ul>
        </div>
        <div class="text-end">
            <a class="btn btn-light" th:href="@{/logout}">Finalizar sesión</a>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</nav>
