<nav th:fragment="navbar" class="NavbarItems">
    <img src="../../static/img/logo.svg" alt="logo" class="navbar-logo"></img>
    <!-- <img src="@{/img/logo.svg}" alt="logo" class="navbar-logo"></img> -->
    <!-- <div class="menu-icon" onClick={handleClick}>
            <i class={click ? 'fas fa-times' : 'fas fa-bars' }></i>
        </div> -->
    <!-- <ul class={click ? 'nav-menu active' : 'nav-menu' }> -->
    <ul class="nav-menu"></ul>
    <a href="../home.html" class="nav-links">
        <li>Home</li>
    </a>
    <a href="#" class="nav-links">
        <li>Products</li>
    </a>
    <a href="#" class="nav-links">
        <li>Users</li>
    </a>
    <a href="../login.html" class="nav-links-mobile">
        <li>Log in</li>
    </a>
    </ul>
</nav>