@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,700&display=swap');

:root {
  --primary: #DAB700;
  --secondary: #B69B11;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #5C5C4A;
    background-color: #F1F1EF;
}

//footer bootstrap class override
footer{
    background-color: #F1F1EF;
    padding-top: 0px;
}

nav{
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.brand-logo{
    width: 120px;
}


//btn
.btn-secondary, .btn-primary {
  color: #FFFFFF;
  font-weight: bold;
}

.btn-primary{
    background-color: #af940a;
    border-color: #9f8609;
}

.btn-primary:hover {
  background-color: #9f8609;
  border-color: #957d09;
}

//about
.vash-logo{
    max-width: 250px;
    width 250px;
    padding-bottom: 50px;
}

.index-libro {
    background-image: url(../img/inventario.jpg);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    width: 33%;
    height: 200px;
}

@media (max-width: 992px) {
    .index-libro {
        background-position: top;
        width: 100%;
        height: 500px;
    }
}

.index-usuario {
    background-image: url(../img/empleados.jpg);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    width: 33%;
    height: 200px;
}

@media (max-width: 992px) {
    .index-usuario {
        background-position: top;
        width: 100%;
        height: 500px;
    }
}

.clickable-card {
    transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.clickable-card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .15);
}

@media (max-width: 992px) {
    .clickable-card:hover {
        transform: scale(1.03);
    }
}

.clickable-card > a {
    color: black;
}

.main {
    margin-bottom: 4.5rem !important;
}
